<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Form</h1>
    <form action="/submit_form" method="POST">
        <input name="username" type="text">
        <input name="email" type="email">
        <input type="submit" value="Create">
        <select name="location" id="">
            <option value="1">Option 1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </form>
</body>
</html>